.init() {
	display: flex;
	align-items: center;
	justify-content: center;
}
.alignX() {
	.init();
	flex-direction: row;
}
.alignY() {
	.init();
	flex-direction: column;
}
.alignBottom() {
	align-self: baseline;
}
