/** Common setting */
.viewport-default {
	height: @viewport-height;
	width: @viewport-width;
}
.wrapper {
	height: inherit;
	padding: 5px 0 20px;
	width: @viewport-width * 0.8;
}
body {
	.viewport-default();
	color: @text-base;
	background-color: @bg-base;
}
hr {
	border: 0;
	height: ceil((@font-size-base * 0.15));
}
/** End common setting */
